<mat-nav-list class="navlist">


  <mat-divider></mat-divider>
  <mat-list-item class="list" [routerLink]="['Plan']">Plan </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list" [routerLink]="['DirectSales']">SD Main Configuration </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list" [routerLink]="['Conditional']"> SD Sub Configuration </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list" [routerLink]="['Calculation']">Sd Calculation </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list" [routerLink]="['Vas']">VAS Calculation </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list" [routerLink]="['Reports']"> Calculation Reports </mat-list-item>
  <mat-divider></mat-divider>


</mat-nav-list>