mat-card-actions button{
    transition: 0.5s;
  }
  mat-card-actions button:hover{
   // letter-spacing: 2px;
    box-shadow:  0 0 10px #37474f ;
  }
 button:hover{
    box-shadow:  0 0 10px #37474f ;
  }
  .example-spacer {
    flex: 1 1 auto;
  }