<!-- <img src="../../../../assets/Img/88.png" alt="Welcom" /> -->
<div class="img">
	<!-- <div class="main">
		<div class="content">
			<h4>Welcom Mr <i>{{ UserName }}</i></h4>
		</div>


		<div class="footer">
			<p>@2022 Information & Analaysis</p>
		</div>
	</div> -->
	<div class="title">

		<h1>SubDealer <strong> POINTING </strong><br><br> System</h1>
	</div>
	<div class="footer">
		<p>@2022 Information & Analaysis</p>
	</div>
</div>
<!-- <mat-card>
	<mat-card-header>
		<div class="user">
			Welcom Mr <i>{{ UserName }}</i>
		</div>
	</mat-card-header>
	<mat-card-content>

	</mat-card-content>
	<mat-card-footer>
		<p>@2022 Information & Analaysis</p>
	</mat-card-footer>
</mat-card> -->