<!-- <app-header [value]="drawer" [name]="name"></app-header> -->

<mat-toolbar color="primary">
  <button mat-button mat-mini-fab color="primary" (click)="drawer.toggle()">
    <mat-icon mat-mini-fab>menu</mat-icon>
  </button>

  <span class="title">SDPS</span>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-icon matSuffix>format_color_fill</mat-icon>
    <mat-select [formControl]="toggleControl" style="width: 15px">
      <mat-option [value]="''">
        <mat-icon>light_mode</mat-icon> <span> Light Mode</span>
      </mat-option>
      <mat-option [value]="'darkMode'">
        <mat-icon>dark_mode</mat-icon><span> Dark Mode</span>
      </mat-option>
    </mat-select>
    <!-- <mat-select [formControl]="toggleControl" style="width: 15px">
      <mat-option *ngFor="let opt of Class" [value]="opt.value">
        {{opt.viewValue}}
      </mat-option>
    </mat-select> -->
  </mat-form-field>

  <span> {{UserName}}</span>

  <!-- <button button mat-raised-button mat-mini-fab color="accent" [routerLink]="['RollManegment']"> Rolls</button> -->
  <button mat-icon-button matTooltip="Roles" [routerLink]="['RoleManegment']">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <!-- <mat-icon class="mr-8">brightness_5</mat-icon> -->
  <!-- <mat-slide-toggle [formControl]="toggleControl" name="toggleControl" class="mr-8">
    </mat-slide-toggle> -->




</mat-toolbar>



<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened class="mat-accent">
    <app-sidenav></app-sidenav>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>